<h2> Movie Dashboard </h2>

<p *ngIf="!movies$"><em>Loading...</em></p>


<div>
  <span> Search</span>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
</div>
<table class='table' *ngIf="movies$">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Year</th>
      <th>Rank</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies$ | async | slice:0:4">
      <td>
        <a routerLink="/movie/{{movie.title}}">
          {{ movie.title}}
        </a>

      </td>
      <td><img class="movie-img" [src]="movie.imageUrl"> </td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.rank }}</td>
    </tr>
  </tbody>
</table>
